.grid-disabled {
    transform: scale(0.8);
    transition: all 1s ease;
    opacity: 0.7;
  }
  
  .grid {
    box-sizing: content-box;
    background-color: $grid-color;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(cell-size('default'), 1fr));
  
    @include media('small') {
      grid-template-columns: repeat(auto-fit, minmax(cell-size('small'), 1fr));
    }
    @include media('medium') {
      grid-template-columns: repeat(auto-fit, minmax(cell-size('medium'), 1fr));
    }
    @include media('large') {
      grid-template-columns: repeat(auto-fit, minmax(cell-size('large'), 1fr));
    }
    @include media('huge') {
      grid-template-columns: repeat(auto-fit, minmax(cell-size('huge'), 1fr));
    }
    @include responsive-cell-size(10);
  
    &-title {
      font-size: 1rem;
      margin: 0 0 0.5rem 0;
      color: text-color('secondary');
  
      @include media('small') {
        margin: 1rem 0;
        font-size: 1rem;
      }
      @include media('medium') {
        margin: 1rem 0;
        font-size: 1.3rem;
      }
      @include media('large') {
        margin: 1rem 0;
        font-size: 1.5rem;
      }
      @include media('huge') {
        margin: 1rem 0;
        font-size: 1.8rem;
      }
    }
  
    &-cell {
      border: 1px solid cell-color('border');
      @include responsive-cell-size;
  
      &:hover {
        border-radius: 5px;
      }
    }
  }
  
  .player-grid {
    border: 2px solid blue;
    cursor: none;
  
    & .grid-cell:hover {
      cursor: none;
      background-color: cell-color('bg');
      @include box-shadow($shadow-size, cell-color('bg'));
    }
  }
  .computer-grid {
    border: 2px solid red;
  
    & .grid-cell:hover {
      cursor: crosshair;
      background-color: cell-color('hover');
      @include box-shadow($shadow-size, cell-color('hover'));
    }
  }
  
  .hit {
    background: $hit;
  }
  .miss {
    background-color: $miss;
  }